header {
  /* background-color: #0095e5; */
  /* #0c6283  verde clim mais*/
  background-color: #0c6283;
  color: white;
  /* #019a97 verde claro clim mais */
}


#menuNavbar {
  background-color: #019a97;
  color: #0c6283;
}

#menuNavbar a {
  color: white;
}

.color-1 {
  background-color: #0c6283;
  color: white;
}
.color-2 {
  background-color: #019a97;
}

.color-3 {
  color: black;
}
.color-4 {
  background-color: #0c6283;
  color: white;
}
#save {
  background-color: #0c6283;
  color: white;
}

.call-us {
  background-color: #019a97;
  color: white;
}

.btn-call {
  background-color: #0c6283;
  color: white;
}

.logo {
  width: 50px;
  height: 50px;
}

.specialties-exams {
  background-color: #0c6283;
  color: white;
}

ul.a {
  list-style-type: circle;
}
